#content {
  background: #000;
  width: 100vw;
  height: 80vh;
  font-family: "Fira Code";
  background: #004a80; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#00aef0, #004a80); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#00aef0, #004a80); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#00aef0, #004a80); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#00aef0, #004a80); /* Standard syntax */
  display: flex;
  overflow: hidden;
}
