@media only screen and (max-width: 700px) {
  #footer-mobile {
    position: relative;
    display: flex !important;
    height: 350px;
    padding: 30px calc(7vw + 10px) 0;
    justify-content: space-between;
    font-family: "Fira Code Light";

    li {
      margin-bottom: 25px;
    }

    #nav-mobile:nth-child(2) {
      text-align: left;
      a {
        color: #fff !important;
        opacity: .5;
      }
    }

    #diver-descent-mobile {
      position: absolute;
      left: -10vw;
      bottom: 0;
      height: 65vh;
      transform: scaleY(-1);
      opacity: .2;
    }

    #guideline-mobile-down {
      position: absolute;
      top: 30px;
      right: 17vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      #guideline-mobile-down-line {
        width: 2px;
        height: 248px;
        background: #00aef0;
        background: -webkit-linear-gradient(rgba(255,255,255,.0), #00426e); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(255,255,255,.0), #00426e); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(255,255,255,.0), #00426e); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(255,255,255,.0), #00426e); /* Standard syntax */
        opacity: .6;
      }
  
      img {
        margin-top: -8px;
        opacity: .12;
      }

      #mark-mobile {
        position: absolute;
        z-index: 1000;
        top: 112px;
        width: 10px;
        height: 10px;
        background-color: #FB9823;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  #motto {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    font-family: "Fira Code Light";
    color: #fff;
    opacity: .5;
    padding: 0 calc(7vw + 10px) 40px;

    span {
      font-size: 0.875em;
    }

    a {
      margin: 0 0 10px 10px;
    }
  }
}

#footer-mobile, #motto {
  display: none;
  // background-color: #004a80;
}