@media only screen and (min-width: 1101px) {
  #header {
    .rainbow {
      .base-ring {
        width: 60vw;
        height: 60vw;
      }
    }
  }
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
  #header {
    .rainbow {
      .base-ring {
        width: 65vw;
        height: 65vw;
      }
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
  #header {
    .rainbow {
      .base-ring {
        width: 75vw;
        height: 75vw;
      }
    }
  }
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
  #header {
    .rainbow {
      .base-ring {
        width: 85vw;
        height: 85vw;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  #header {
    height: 90vw !important;

    .sky-gradient {
      left: 50% !important;
      transform: translateX(-50%);
      width: 120vw !important;
      height: 90vw !important;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .rainbow {
      top: 18vw !important;

      .base-ring {
        width: 60vw;
        height: 60vw;
      }
    }

    #cloud {
      display: none !important;
    }

    #cloud-mobile {
      display: block !important;
      width: 120vw !important;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 5px solid #fff;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    #canvas-ripple {
      display: none;
    }

    #title-wrap {
      position: absolute;
      z-index: 3100;
      top: 6vw;
      display: flex;
      flex-direction: column;
      width: 100vw;
      text-align: center;
      font-family: "Fira Code Bold";
      -webkit-text-shadow: 0px 2px 3px rgba(#000, .3);
      -moz-text-shadow: 0px 2px 3px rgba(#000, .3);
      text-shadow: 0px 2px 3px rgba(#000, .3);
      
      #title {
        font-size: 8vw;
        line-height: 1.5;
        color: #fff;
      }

      #subtitle {
        font-size: 4.44vw;
        color: #fff;
      }
    }

    #fish-1 {
      top: 24vw !important;
      left: 6vw !important;
      width: 30vw !important;
      height: 30vw !important;
      transform: rotate(13deg);
    }
    
    #fish-2 {
      display: none;
    }
    
    #fish-3 {
      z-index: 1400 !important;
      top: 36vw !important;
      right: 35vw !important;
      transform: rotate(-25deg) !important;
      opacity: .3 !important;
    }

    #fish-4 {
      top: 43vw !important;
      right: 10vw !important;
      width: 17vw !important;
      height: 17vw !important;
      transform: rotate(-8deg) !important;
      opacity: .6 !important;
    }
  }
}

@media only screen and (max-height: 610px) {
  #header {
    display: none;
  }
}

#header {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100vw;
  height: 21vh;

  .sky-gradient {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: #1c97e3; // For browsers that do not support gradients
    background: -webkit-linear-gradient(#1c97e3, #f2f2f2); /* For Safari 5.1 to 6.0 */ // #87CEEB
    background: -o-linear-gradient(#1c97e3, #f2f2f2); /* For Opera 11.1 to 12.0 */ // #87CEEB
    background: -moz-linear-gradient(#1c97e3, #f2f2f2); /* For Firefox 3.6 to 15 */ // #87CEEB
    background: linear-gradient(#1c97e3, #f2f2f2); /* Standard syntax */ // #87CEEB
  }

  .rainbow {
    position: absolute;
    top: 1vh;
    left: 50%;
    height: 50vw;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 1500;
    
    .base-ring {
      border-width: 0.625em;
      border-style: solid;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
    
    .outer-ring {
      display: table;
      border-width: 0.625em;
      border-style: solid;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
    
    .purple-ring {
      border-width: 0.5em;
      border-color: #b34e9a;
    }

    .blue-ring {
      border-color: #378fce;
    }

    .cyan-ring {
      border-width: 0.438em;
      border-color: #86d3e7;
    }

    .green-ring {
      border-width: 0.375em;
      border-color: #a8ce43;
    }

    .yellow-ring {
      border-width: 0.813em;
      border-color: #efd90a;
    }

    .orange-ring {
      border-width: 0.813em;
      border-color: #f68b21;
    }

    .red-ring {
      border-width: 1.125em;
      border-color: #ee1d23;
    }
  }

  #cloud {
    position: absolute;
    z-index: 2000;
    width: 100vw;
    bottom: 0;
  }

  #cloud-mobile {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 100vw;
    bottom: 0;
  }

  #canvas-ripple {
    position: absolute;
    z-index: 3000;
    width: 100vw;
    height: 100%;
  }

  .flying-fish {
    position: absolute;
  }
  
  #fish-1 {
    z-index: 3100;
    top: 5vh;
    left: 8vw;
    width: 80px;
    height: 80px;
    opacity: .9;
  }
  
  #fish-2 {
    z-index: 2900;
    top: 7vh;
    left: 30vw;
    width: 30px;
    height: 30px;
    transform: rotate(-7deg);
    opacity: .4;
  }
  
  #fish-3 {
    z-index: 2900;
    top: 9vh;
    right: 20vw;
    width: 35px;
    height: 35px;
    transform: rotate(38deg);
    opacity: .55;
  }

  #fish-4 {
    z-index: 3100;
    top: 7vh;
    right: 5vw;
    width: 50px;
    height: 50px;
    transform: rotate(12deg);
    opacity: .7;
  }
}