@media only screen and (max-width: 700px) {
  #header {
    height: 90vw !important;

    #mute-audio {
      right: unset !important;
      left: 0;
      font-size: .8rem;
      color: #f2f2f2 !important;
      background-image: url(/images/starfish_white.png) !important;
      padding-left: 28px !important;
      margin: 8px 5px 5px 8px !important;
    }

    #skyline {
      display: none;
    }

    .sky-gradient {
      left: 50% !important;
      transform: translateX(-50%);
      width: 120vw !important;
      height: 90vw !important;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .rainbow {
      top: 40vw !important;
      width: 55vw !important;
      height: 55vw !important;
    }

    #cloud {
      display: none !important;
    }

    #cloud-mobile {
      display: block !important;
      width: 120vw !important;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 5px solid #f2f2f2;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    #canvas-ripple {
      display: none;
    }

    #title-wrap {
      position: absolute;
      z-index: 3100;
      top: 7vw;
      display: flex;
      flex-direction: column;
      width: 100vw;
      text-align: center;
      font-family: 'Fira Code Bold';
      -webkit-text-shadow: 0px 2px 3px rgba(#000, .3);
      -moz-text-shadow: 0px 2px 3px rgba(#000, .3);
      text-shadow: 0px 2px 3px rgba(#000, .3);
      
      #title {
        font-size: 8vw;
        line-height: 1.5;
        color: #f2f2f2;
      }

      #subtitle {
        font-size: 4.44vw;
        color: #f2f2f2;
      }
    }

    #fish-1 {
      top: 24vw !important;
      left: 6vw !important;
      height: 30vw !important;
    }
    
    #fish-2, #dolphin {
      display: none;
    }
    
    #fish-4 {
      top: 43vw !important;
      left: 73vw !important;
      height: 17vw !important;
      transform: rotate(-8deg) !important;
      opacity: .9 !important;
    }

    #seagulls {
      top: 8vh !important;
      right: unset !important;
      left: 50%;
      transform: translateX(-50%);
      height: 150px !important;
    }
  }
}

@media only screen and (max-height: 610px) {
  #header {
    display: none;
  }
}

#header {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100vw;
  height: 21vh;

  #mute-audio {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3500;
    width: fit-content;
    text-align: left;
    font-family: 'Fira Code Light';
    color: #000;
    letter-spacing: -.5px;
    word-spacing: -2px;
    padding: 5px 10px 5px 32px;
    background: none;
    background-image: url(/images/starfish.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin: 10px;
    opacity: .8;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  #skyline {
    position: absolute;
    z-index: 3100;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background: url(/images/skyline.svg) 0 100% no-repeat;
    transition: all 1s;
  }

  #canvas-ripple {
    position: absolute;
    z-index: 3000;
    bottom: 0;
    width: 100vw;
    height: 100px;
    transition: all 1s;
  }

  .sky-gradient {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vh;
    background: #1c97e3; // For browsers that do not support gradients
    background: -webkit-linear-gradient(#1c97e3, #f2f2f2); /* For Safari 5.1 to 6.0 */ // #87CEEB
    background: -o-linear-gradient(#1c97e3, #f2f2f2); /* For Opera 11.1 to 12.0 */ // #87CEEB
    background: -moz-linear-gradient(#1c97e3, #f2f2f2); /* For Firefox 3.6 to 15 */ // #87CEEB
    background: linear-gradient(#1c97e3, #f2f2f2); /* Standard syntax */ // #87CEEB
  }

  .rainbow-mask {
    position: absolute;
    top: 0;
    z-index: 1500;
    overflow: hidden;
    width: 100%;
    height: 80%;

    .rainbow {
      position: absolute;
      top: calc(1vh + 80px);
      left: 50%;
      transform: translateX(-50%);
      width: 75vw;
      height: 75vw;
      border-radius: 50%;
      background: transparent;
      box-shadow:
        0 0 0 14px #b34e9a,
        0 0 0 26px #378fce,
        0 0 0 30px #86d3e7,
        0 0 0 41px #a8ce43,
        0 0 0 54px #efd90a,
        0 0 0 63px #f68b21,
        0 0 0 80px #ee1d23;
    }
  }

  #cloud {
    position: absolute;
    z-index: 2000;
    width: 100vw;
    bottom: 0;
  }

  #cloud-mobile {
    display: none;
    position: absolute;
    z-index: 2000;
    width: 100vw;
    bottom: 0;
  }

  .flying-obj {
    position: absolute;
  }
  
  #fish-1 {
    z-index: 2900;
    top: 5vh;
    left: 8vw;
    height: 80px;
    transform: rotate(13deg);
    opacity: .9;
  }
  
  #fish-2 {
    z-index: 2900;
    top: 10vh;
    left: 27vw;
    height: 25px;
    transform: rotate(-7deg);
    opacity: .6;
  }
  
  #dolphin {
    z-index: 2900;
    top: 16vh;
    left: 40%;
    height: 20px;
    opacity: .6;
  }

  #fish-4 {
    z-index: 2900;
    top: 12vh;
    left: 28vw;
    height: 50px;
    transform: rotate(5deg);
    opacity: .8;
  }

  #seagulls {
    z-index: 2900;
    top: 1vh;
    right: 2vw;
    height: 220px;
    opacity: .5;
    transition: all .5s;
  }
}