@media only screen and (max-width: 1366px) {
  #body-wrap{
    main {
      article {
        .gallery {
          img {
            height: auto !important;
            width: calc(100% - 6vw) !important;
            margin: 1.5vw 3vw !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #body-wrap{
    main {
      width: 100vw;
      height: 100%;
      padding-top: 8vw;
      background-color: transparent !important;
      background: url(/images/diver_ascent_left.png) 106% 8vw no-repeat;

      // &::after {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   width: 100vw;
      //   height: 100vh;
      //   background: url(/images/diver_ascent_left.png) 100% 8vw no-repeat;
      //   background-size: 20vw;
      //   opacity: 0.2;
      // }

      #guideline-mobile-up {
        position: absolute;
        top: 0;
        right: 20.7vw;
        width: 2px;
        height: 30vw;
        background: #00426e;
        background: -webkit-linear-gradient(#00426e, rgba(255,255,255,.0)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#00426e, rgba(255,255,255,.0)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#00426e, rgba(255,255,255,.0)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#00426e, rgba(255,255,255,.0)); /* Standard syntax */
        opacity: .5;
      }

      article {
        height: 100% !important;
        background: url(/images/diver_descent_down.png) -11vw 100% no-repeat;
        padding: calc(7vw + 10px) !important;
        margin: 0 !important;
        color: #fff;

        p {
          line-height: 1.8 !important;
        }

        a {
          color: #f2f2f2 !important;
        }

        .divider {
          background-image: url(/images/scuba_diver_mobile.png) !important;
          opacity: .9 !important;
        }
      }
    }
  }
}

@media only screen and (max-height: 610px) {
  #content main {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0 !important;
    margin: 0 !important;
  }

  #content main article {
    width: 100vw !important;
    height: 100vh !important;
    box-sizing: border-box;
    margin: 0 !important;
  }
}

@media only screen and (min-width: 701px) {
  #body-wrap{
    main {
      width: calc(100vw - 250px);
      height: calc(77vh - 10px);
      margin-top: 10px;
      margin-right: 1.5vw;
      border-radius: 10px;
    }
  }
}

#body-wrap {
  main {
    position: relative;
    z-index: 100;
    background-color: #eee;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(#000, .5);
    -moz-box-shadow: 0px 5px 10px 0px rgba(#000, .5);
    box-shadow: 0px 5px 10px 0px rgba(#000, .5);

    article {
      height: calc(77vh - 13vw - 50px);
      overflow-x: hidden;
      overflow-y: auto;
      padding: 7vw 7vw 6vw;
      margin: 20px 15px;

      h1 {
        margin-top: 0;
      }

      h3 {
        line-height: 1.5;
      }

      p {
        text-align: justify;
        line-height: 2;
        margin-bottom: 25px;
      }

      a {
        color: #000;
        text-decoration: none;
        font-style: italic;

        &[target] {
          font-weight: bold;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      footer {
        line-height: 2;
        font-size: 14px;
        text-align: justify;
      }

      .gallery {
        img {
          height: 268px;
          margin-bottom: 5px;
          object-fit: cover;
          border: 10px solid #fff;
          box-sizing: border-box;
          -webkit-box-shadow: 0px 3px 8px 0px rgba(#000, .3);
          -moz-box-shadow: 0px 3px 8px 0px rgba(#000, .3);
          box-shadow: 0px 3px 8px 0px rgba(#000, .3);
        }
      }

      .divider {
        height: 40px;
        background: url(/images/scuba_diver.png) 50% 50% no-repeat;
        background-size: contain;
        margin: 80px 0;
        opacity: .8;
      }
    }
  }
}