#trio {
  display: none;
  position: absolute;
  z-index: 4000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  border-top: 8vmin solid #fff;
  border-right: 6vmin solid #fff;
  border-bottom: 6vmin solid #fff;
  border-left: 6vmin solid #fff;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(#000, .5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(#000, .5);
  box-shadow: 0px 0px 15px 0px rgba(#000, .5);
  margin: 0 !important;
  
  img {
    border-radius: 5px;
    cursor: pointer;
  }

  figcaption {
    font-family: 'Fira Code Light';
    text-align: center;
    background-color: #fff;
    margin-top: 8px;

    a {
      color: #000;
    }
  }

  @media only screen and (min-width: 551px) {
    img {
      height: 80vmin;
    }
  }

  @media only screen and (max-width: 550px) {
    margin-left: -0.1vmin;

    img {
      width: 80vw;
    }
  }
}

@media only screen and (min-width: 701px) and (max-width: 900px) {
  #moi-header {
    h1 {
      font-size: 3.5vw !important;
    }

    h3 {
      font-size: 2.05vw !important;
    }
  }
}

@media only screen and (max-width: 700px) {
  #trio figcaption {
    font-size: .8rem;
  }

  #moi-header {
    #mugshot {
      width: 35vw !important;
      height: 35vw !important;
      border-width: 8px !important;
    }

    h1 {
      font-size: 6.5vw !important;
    }

    h3 {
      font-size: 3.77vw !important;
    }
  }
}

#moi-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;

  #mugshot {
    width: 150px;
    height: 150px;
    border: 10px solid #fff;
    border-radius: 50%;
    margin-bottom: 40px;
    transition: all .2s;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(#000, .3);
    -moz-box-shadow: 0px 3px 8px 0px rgba(#000, .3);
    box-shadow: 0px 3px 8px 0px rgba(#000, .3);
    cursor: pointer;

    &:hover {
      margin-top: -10px;
      margin-bottom: 50px;
      box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    }
  }

  h1 {
    font-size: 2.5vw;
  }

  h3 {
    font-size: 1.45vw;
    margin-bottom: 0;
  }
}

.moi-links {
  li {
    margin-bottom: 20px;
  }

  li::before {
    content: "-";
    margin-right: 10px;
  }
}