@media only screen and (min-width: 501px) {
  nav {
    position: relative;
    width: 250px;
    height: 80vh;

    .rainbow {
      .base-ring {
        width: 15vw;
        height: 15vw;
      }

      .outer-ring {
        display: table;
        border: 20px solid #b34e9a;
        border-radius: 50%;
      }        

      .purple-ring {
        border: 20px solid #b34e9a;
        border-radius: 50%;
      }

      .blue-ring {
        border: 20px solid #378fce;
        border-radius: 50%;
      }

      .cyan-ring {
        border: 20px solid #86d3e7;
        border-radius: 50%;
      }

      .green-ring {
        border: 20px solid #a8ce43;
        border-radius: 50%;
      }

      .yellow-ring {
        border: 20px solid #efd90a;
        border-radius: 50%;
      }

      .orange-ring {
        border: 20px solid #f68b21;
        border-radius: 50%;
      }

      .red-ring {
        border: 20px solid #ee1d23;
        border-radius: 50%;
      }
    }

    #nav-el-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      #nav-buoy {
        width: 118px;
        height: 110px;
        margin-top: 10px;
      }

      #mark{
        position: absolute;
        z-index: 1000;
        top: 255px;
        width: 10px;
        height: 10px;
        background-color: #FB9823;
        border-radius: 50%;
        cursor: pointer;
      }

      #guideline {
        position: absolute;
        top: 105px;
        width: 2px;
        height: calc(80vh - 205px);
        background: -webkit-linear-gradient(#ebebeb, #00426e); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#ebebeb, #00426e); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ebebeb, #00426e); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ebebeb, #00426e); /* Standard syntax */
        opacity: .7
      }

      #nav-up {
        position: absolute;
        font-size: 12px;
        top: 145px;
        left: 86px;

        li {
          margin-bottom: 30px;

          span {
            margin-right: 15px;
            opacity: .5;
          }
        }
      }

      #nav-down {
        position: absolute;
        left: 80px;
        bottom: 120px;
        font-size: 12px;

        span {
          margin-right: 16px;
          opacity: .5;
        }
      }

      #bottom-plate {
        position: absolute;
        bottom: 43px;
        opacity: .12;
      }
    }

    #pi-symbol {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px;
      opacity: .3;
    }
  }
}

@media only screen and (max-width: 500px) {
  nav {
    display: none;
  }
}
