@media only screen and (max-width: 750px) {
  #nav-diver-ascent {
    display: none !important;
  }

  .header {
    height: 25vh !important;

    .sky-gradient {
      background: -webkit-linear-gradient(#1c97e3, #87CEEB) !important; /* For Safari 5.1 to 6.0 */ // #87CEEB
      background: -o-linear-gradient(#1c97e3, #87CEEB) !important; /* For Opera 11.1 to 12.0 */ // #87CEEB
      background: -moz-linear-gradient(#1c97e3, #87CEEB) !important; /* For Firefox 3.6 to 15 */ // #87CEEB
      background: linear-gradient(#1c97e3, #87CEEB) !important; /* Standard syntax */ // #87CEEB
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .rainbow {
      display: block !important;
      position: absolute;
      z-index: 1500;
      top: -60px;
      left: 50%;
      transform: translateX(-50%);
      width: 70vw;
      opacity: .8;
    }

    .clouds {
      border-bottom-left-radius: 43%;
      border-bottom-right-radius: 43%;
      bottom: 5vh !important;
    }

    #canvas-ripple {
      display: none;
    }

    .fish-2 {
      // top: 10vh !important;
      left: 32vw !important;
    }

    .fish-3 {
      display: none;
    }
    
    #buoy-mobile {
      display: block !important;
      position: absolute;
      z-index: 3000;
      top: 12vh;
      left: 50%;
      width: 35vw;
      transform: translateX(-54%);
      // -webkit-transform: scaleX(-1);
      // transform: scaleX(-1)
    }
  }

  #content-wrapper {
    height: 75vh !important;

    nav {
      display: none;
    }

    main {
      width: 100vw !important;
      height: 75vh !important;
      margin: 0 !important;
      border-radius: 0 !important;

      article {
        height: calc(55vh - 20px) !important;
        padding: 10vh 10vw !important;
      }
    }
  }
}

// @media only screen and (max-width: 768px) {
//   #mobile-header, #mobile-footer {
//     background: #004a80 !important; /* For browsers that do not support gradients */
//     background: -webkit-linear-gradient(#00aef0, #004a80) !important; /* For Safari 5.1 to 6.0 */
//     background: -o-linear-gradient(#00aef0, #004a80) !important; /* For Opera 11.1 to 12.0 */
//     background: -moz-linear-gradient(#00aef0, #004a80) !important; /* For Firefox 3.6 to 15 */
//     background: linear-gradient(#00aef0, #004a80) !important; /* Standard syntax */
//   }
// }

// @media only screen and (min-width: 521px) and (max-width: 768px) {
//   .gallery {
//     img {
//       height: 250px !important;
//       width: calc(100vw - 250px - 25% - 15px);
//     }
//   }
// }

// @media only screen and (max-width: 520px) {
//   ::-webkit-scrollbar {
//     display: none;
//   }
//   body {
//     flex-direction: column;

//     #nav-desktop {
//       display: none;
//     }
//     main {
//       width: 100vw !important;
//       height: 100vh !important;
//       margin: 0 !important;

//       #mobile-header, #mobile-footer {
//         display: block;
//       }

//       .gallery {
//         img {
//           height: 200px !important;
//           width: calc(100vw - 25%);
//         }
//       }

//       article {
//         padding-top: 25% !important;
//       }
//     }
//   }
// }