@import './customise';
@import './header';
@import './content';
@import './nav';
@import './main';
@import './footer';
@import './moi';

@media only screen and (max-width: 700px) {
  #body-wrap {
    height: 100vh;
    overflow-y: auto !important;
    background: #007ab6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00aef0, #004a80); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00aef0, #004a80); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00aef0, #004a80); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00aef0, #004a80); /* Standard syntax */
    
    &::-webkit-scrollbar {
      display: none;
    }

    #diver-ascent {
      display: none !important;
    }
    
    #diver-descent {
      display: none !important;
    }
    
    #buoy-mobile {
      display: block !important;
      position: absolute;
      z-index: 3100;
      top: 65vw;
      right: 13vw;
      width: 16vw;
    }
  }
}

@media only screen and (max-height: 610px) {
  #diver-ascent, #diver-descent {
    display: none !important;
  }
}

#body-wrap {
  position: relative;
  height: 100vh;
  background-color: #007ab6; // #87CEEB, #004a80
  overflow: hidden;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  #diver-ascent {
    display: block;
    position: absolute;
    top: 350px;
    left: 45px;
    height: 120px;
  }
  
  #diver-descent {
    display: none;
    position: absolute;
    top: 350px;
    left: 35px;
    height: 120px;
    transform: rotate(180deg);
  }

  #buoy-mobile {
    display: none;
  }
}
