@font-face {
    font-family: 'Fira Code';
    src: url('../fonts/eot/FiraCode-Light.eot');
    src: url('../fonts/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('../fonts/woff2/FiraCode-Light.woff2') format('woff2'),
         url('../fonts/woff/FiraCode-Light.woff') format('woff'),
         url('../fonts/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}

::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: #d7d7d7;
    border-radius: 3px;
}


/*#scrollbar::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/


/*!* Let's get this party started *!*/
/*::-webkit-scrollbar {*/
    /*width: 12px;*/
/*}*/

/*!* Track *!*/
/*::-webkit-scrollbar-track {*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
/*}*/

/*!* Handle *!*/
/*::-webkit-scrollbar-thumb {*/
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*background: rgba(255,0,0,0.8);*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
/*}*/
/*::-webkit-scrollbar-thumb:window-inactive {*/
    /*background: rgba(255,0,0,0.4);*/
/*}*/

body {
    overflow: hidden;
    scrollbar-face-color: #acacac;
    scrollbar-track-color: #d7d7d7;
    background: #eee;
}

nav {
    width: 240px;
    height: 100vh;
    float: left;
    background: #004a80; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00aef0, #004a80); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00aef0, #004a80); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00aef0, #004a80); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00aef0, #004a80); /* Standard syntax */
}

main {
    float: left;
    position: relative;
    background: #eee;
    height: 100vh;
    overflow-y: auto;
    margin-top: 10px;
}

ul {
    position: absolute;
    top: 150px;
    left: 80px;
    font: normal 13px "Fira Code";
    list-style: none;
}

li {
    margin-bottom: 30px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

article {
    padding: 10%;
    font-family: "Fira Code";
}

article h1 {
    margin-top: 0;
}

article p {
    line-height: 2;
    margin-bottom: 25px;
}

article a {
    color: #000;
    text-decoration: none;
    font-style: italic;
}

article a:hover {
    text-decoration: underline;
}

#moi-cap {
    height: 110px;
}

#moi-mugshot {
    width: 110px;
    height: 100%;
    float:left;
    border-radius: 50%;
    margin-right: 15px;
    background: url("../images/mugshot.jpg");
}

#moi-title {
    float: left;
    margin-top: 15px;
}

/* Swiper */
.swiper-container {
    width: 48vw;
    height: 30vw;
    max-width: 1280px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    width: 48vw;
    height: 30vw;
    background-size: cover;
    background-position: center;
}
.gallery-thumbs {
    box-sizing: border-box;
    height: 8vw;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.3;
    cursor: pointer;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
    cursor: auto;
}
#swiper-1 .swiper-slide {
    cursor: zoom-in;
}

#enlarge-bg {
    display: none;
    position: absolute;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.7);
    cursor: pointer;
}

#enlarge {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 144vh;
    height: 90vh;
    max-width: 1280px;
    max-height: 800px;
    border: 5px solid white;
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
    background-size: cover;
    background-position: center;
    cursor: zoom-out;
}