@import './normalize';
@import './customise';
@import './header';
@import './content';
@import './nav';
@import './main';
@import './footer';
@import './moi';

@media only screen and (max-width: 768px) {
  .marine-snow-caption {
    width: 85vw !important;
    font-size: 1.1rem !important;
    line-height: 1.6 !important;
  }

  #body-wrap {
    height: 100vh;
    overflow-y: auto !important;
    background: #007ab6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00aef0, #004a80); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00aef0, #004a80); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00aef0, #004a80); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00aef0, #004a80); /* Standard syntax */
    
    &::-webkit-scrollbar {
      display: none;
    }

    #diver-ascent, #diver-descent {
      display: none !important;
    }
    
    #buoy-mobile {
      display: block !important;
      position: absolute;
      z-index: 3100;
      top: 65vw;
      right: 13vw;
      width: 16vw;
    }
  }
}

@media only screen and (max-height: 610px) {
  #diver-ascent, #diver-descent {
    display: none !important;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes snowfall {
  100% {
    transform: translateY(200vh);
  }
}

.marine-snow {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  background: radial-gradient(farthest-corner at 30vw 20vh, #000 1%, #00183a 100%);
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  cursor: pointer;

  $layer1: "";
  $layer2: "";
  $layer3: "";

  @for $i from 1 through 300 {
    $layer1: $layer1 + random(1000) * 0.1vw + " " + random(1000) * 0.1vh + " " + 0 + " " + random(50) * -0.01rem + #f2f2f2;
    $layer2: $layer2 + random(1000) * 0.1vw + " " + random(1000) * 0.1vh + " " + 0 + " " + random(50) * -0.01rem + #f2f2f2;
    $layer3: $layer3 + random(1000) * 0.1vw + " " + random(1000) * 0.1vh + " " + 0 + " " + random(50) * -0.01rem + #f2f2f2;
    @if $i < 500 {
      $layer1: $layer1 + ",";
      $layer2: $layer2 + ",";
      $layer3: $layer3 + ",";
    }
  }

  &-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 70vw;
    text-align: justify;
    color: #f2f2f2;
    font-family: 'Fira Code Light';
    font-size: 1.4rem;
    line-height: 1.5;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 2s;

    a {
      color: #f2f2f2;
    }
  }

  .snow {
    position: absolute;
    top: -100vh;
    border-radius: 50%;
    opacity: .8;
    animation-name: snowfall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .layer-1 {
    width: 7px;
    height: 7px;
    filter: blur(1px);
    box-shadow: #{$layer1};
    animation-duration: 120s;
    
    &.half {
      animation-delay: -60s;
    }
  }
  .layer-2 {
    width: 6px;
    height: 6px;
    filter: blur(1.5px);
    box-shadow: #{$layer2};
    animation-duration: 180s;

    &.half {
      animation-delay: -90s;
    }
  }
  .layer-3 {
    width: 4px;
    height: 4px;
    filter: blur(2px);
    box-shadow: #{$layer3};
    animation-duration: 240s;

    &.half {
      animation-delay: -120s;
    }
  }
}

.mask {
  display: none;
  position: absolute;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .8;
}

#body-wrap {
  position: relative;
  height: 100vh;
  background-color: #007ab6; // #87CEEB, #004a80
  overflow: hidden;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  #diver-ascent, #diver-descent {
    position: absolute;
    z-index: 1000;
    top: 447px;
    height: 120px;
    margin-top: -60px;
  }

  #diver-ascent {
    opacity: 1;
    left: 50px;
  }
  
  #diver-descent {
    opacity: 0;
    left: 45px;
    transform: rotate(180deg);
  }

  #buoy-mobile {
    display: none;
  }
}
