<article>
    <h1>Dive! Dive!</h1>
    <h3>Life goes under eventually, one way or another.</h3>
    <br><p>
        Six standardized alarms are used on submarines of the United States Navy to alert the crew to situations that require immediate actions to be taken without waiting for specific orders. One of them is diving alarm.
    </p>
    <p>
        The diving alarm is sounded <em>twice</em> to signal a dive and <em>three</em> times for emergency surfacing, and is accompanied by either the announcement "dive, dive" or "surface, surface, surface."
    </p>
</article>