<article>
    <h1>Dive! Dive!</h1>
    <h3>Life goes under eventually, one way or another.</h3>
    <br>
    <p>
        <blockquote cite="https://en.wikipedia.org/wiki/Alarms_on_submarines_of_the_United_States_Navy">
            <p>
                <a href="https://en.wikipedia.org/wiki/Alarms_on_submarines_of_the_United_States_Navy" target="_blank">Six standardized alarms</a>
                are used on submarines of the United States Navy to alert the crew to situations that require immediate actions to be taken without
                waiting for specific orders. One of them is diving alarm.
            </p>
            <p>
                The diving alarm is sounded twice to signal a dive and three times for emergency surfacing,
                and is accompanied by either the announcement "dive, dive" or "surface, surface, surface."
            </p>
        </blockquote>
    </p>
    <p>
        Rather than being capsized by a force I can't control (if I had any control that is), I submitted myself to
        the ocean. I became a scuba diver, and later on a free diver.
    </p>
    <p>
        Free diving is all about surrender oneself to nature, to the water. You dive everyday and go down gradually.
        Little by little, meter by meter. However, on a day when the ocean doesn't want you, don't force it. You don't
        want to fight it, and you can't win. Instead, take time to submerge yourself, let your body adjust and adapt to
        the pressure. Converse yourself with the temperament of the ocean, feel the flow of the current and rejoice.
        Ultimately, understand that to the ocean you're nothing but a piece of driftwood floating aimlessly in shallow
        water.
    </p>
    <p>
        Try not to treat the water like an opposing enemy. Don't try to fight it like some silly people try to "conquer"
        the highest peak of the world. They accomplish nothing by doing so. Much like a squid blends itself into the
        surrounding, you need to become the very thing that you're trying to get into. Try to become a drop of water,
        dissolving into an ocean of water. Only then, you may start to dive freely.
    </p>
</article>
