<h1>C'est la vie</h1>
<h3>Such is life</h3>
<br>
<p>
    Life is what happens when you're busy making other plans.
</p>
<p>
    You work a nine to five job at a large state-owned enterprise, reasonable money, stable and secure. You think
    you'd do it for the rest of your life. However, the job gets too unsatisfactory and the city is turning gray.
    So, you thought about moving away before it's too late, a new job or maybe even a new city. But, isn't that just
    the same routine? You want to change, but you want the chang to be fundamental, otherwise it's not worth changing
    at all. So, how about a new country? Waves of people have tried before you and failed, why should you be any
    different? Well, it turned out you're. You applied, and three month later you became a permanent resident of Australia.
    Sometimes the changes in your life are so quick and dramatic, they dazzle you with disbelief.
</p>
<p>
    Now, a new life in a new country.
</p>
<p>
    You started your first job as a temp for three month. You felt lucky to had found anything at all without local
    experience. Afterwards, you took a month off to figure out the angles and restructure your life. Then you started
    a second job in a much better setup. You were learning so much everyday, and thought you'd stay on for a couple
    of years, yet six months later the job ends abruptly. At this point, you finally learned to let go off all the
    anxiety and leave it to life to sort itself out, and it did. One week later another opportunity came along. You
    learnt from previous mistakes, prepared as much as you can, and tried not to hold any hope. Unexpectedly, you got
    the job without a glitch. You finally landed in a big company with the best environment possible, and you're
    learning as fast as you can to stay at the top of your game.
</p>
<p>
    Was it luck? Or was it because opportunities come to those who prepared? I don't know, but I incline to think that
    our paths are already set, we just born into it. The best one can do is to play along. However, that doesn't mean
    we can't be positive and strive for the best. For me, life is so much like diving, the unstoppable ocean currents
    are like trends and flow of society. You can not fight it, you have to go with the flow and feel your depth.
    Tolerate the pressure while you're under, and relish the sunlight when you're on top. Slowly, you'll realize that
    the truly fun parts are the ups and downs.
</p>