<article>
    <div id="moi-cap">
        <div id="moi-mugshot"></div>
        <div id="moi-title">
            <h1>Forever Junior Dev<sup>*</sup></h1>
            <h2>Full Process Front-end Developer</h2>
        </div>
    </div>
    <br>
    <p>
        Who am I?
    </p>
    <p>
        I’m someone who’s not afraid of stepping out of his comfort zone to learn new things and stay ahead of the curve.
    </p>
    <p>
        I spend my days with my hands in many aspects of web development, from UI design, front-end implementation to
        back-end coding, familiar with both development environment.
    </p>
    <p>
        My early career as a multimedia designer had given me extensive background in computer graphics which enabled me
        to work across two different but closely related fields.
    </p>
    <p>
        Possessing high proficiency in HTML, CSS and JavaScript, as well as multiple frameworks. Currently actively
        learning AngularJS and React as the main development platforms, eager to do more work in relevant field.
    </p>
    <p>
        Interested in my work experience? Check out the following links.
    </p>
    <ul>
        <li>-- <a href="files/leon_li_cv.doc">CV (also known as resume)</a></li>
        <li>-- <a href="files/leon_li_portfolio.pdf">Portfolio</a></li>
        <li>-- <a href="https://www.linkedin.com/in/leonli2015">LinkedIn</a></li>
    </ul>
    <div class="separator">
        <img src="../images/separator.png" alt="separator">
    </div>
    <footer>
        <sup>*</sup>What's with the name you ask? Isn't it a rather depressing outlook to be a junior developer forever?
        Well, the idea was that no matter how much you've learned, there always seem to be just as much that you don't
        know about. As a matter of fact, the more you learn the more you know that you don't know anything. There was this
        metaphor I once heard. It says that the knowledge of a person is like a circle in a two dimensional plane. The circle's
        area is the amount of knowledge one possesses, it's circumference is therefore the edge of your ability and represents
        things you don't know. The smallest size possible for a circle is a dot. A dot is a concept, it's area and circumference
        are both infinitesimal, which means when you know nothing, you wouldn't even know that you know nothing. Hence only by
        learning can one even comprehend one's own ignorance. So yes, I'll always be a junior dev in heart, it's the best way
        to stay vigilant and hungry.
    </footer>
</article>