<article>
    <h1>Leon Li</h1>
    <h2>Full Process Front-end Developer</h2>
    <br><p>
        Who am I?
    </p>
    <p>
        I’m someone who’s not afraid of stepping out of his comfort zone to learn new things and stay ahead of the curve.
    </p>
    <p>
        I spend my days with my hands in many aspects of web development, from UI design, front-end implementation to
        back-end coding, familiar with both development environment.
    </p>
    <p>
        My early career as a multimedia designer had given me extensive background in computer graphics which enabled me
        to work across two different but closely related fields.
    </p>
    <p>
        Possessing high proficiency in HTML, CSS and JavaScript, as well as multiple frameworks. Currently actively
        learning AngularJS and React as the main development platforms, eager to do more work in relevant field.
    </p>
    <p>
        Interested in my work experience? Check out the following links.
        <br>-- <a href="files/leon_li_cv.doc">CV (also known as resume, please don't argue with me)</a>
        <br>-- <a href="files/leon_li_portfolio.pdf">Portfolio</a>
        <br>-- <a href="https://www.linkedin.com/in/leonli2015">LinkedIn</a>
    </p>
</article>