<article style="z-index: 10;position: absolute;">
    <h1>Moments</h1>
    <h3>Things I want to cherish without showing off.</h3>
    <br>
    <p>
        <h3>18.02.2017</h3>
        <p>
            Cirque du Soleil's famouse show Kooza is in town! Watching them perform is like examining a collection of the
            most precious jem from the world. There're no word which can describe their majesty, just go if you have the
            chance. The name <a href="https://www.cirquedusoleil.com/kooza/faq/meaning">KOOZA</a> is inspired by the
            <a href="https://en.wikipedia.org/wiki/Sanskrit">Sanskrit</a> word "koza", which means "box", "chest" or
            "treasure", and was chosen because one of the underlying concepts of the production is the idea of a "circus
            in a box".
        </p>
    </p>
    <!-- Swiper -->
    <div id="swiper-1" class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/7.jpg)"></div>
        </div>
    </div>
    <div id="swiper-1-thumbs" class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/1.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/2.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/3.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/4.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/5.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/6.jpg)"></div>
            <div class="swiper-slide" style="background-image:url(images/gallery/20170218/7.jpg)"></div>
        </div>
    </div>
    <!-- Initialize Swiper -->
    <script>
    var swiper_1 = new Swiper('#swiper-1', {
        spaceBetween: 10,
    });
    var swiper_1_thumbs = new Swiper('#swiper-1-thumbs', {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: 'auto',
        touchRatio: 0.2,
        slideToClickedSlide: true
    });
    swiper_1.params.control = swiper_1_thumbs;
    swiper_1_thumbs.params.control = swiper_1;
    $('#swiper-1 .swiper-slide').on('click', function() {
        $('#enlarge').css('background-image', $(this).css('background-image'));
        $('#enlarge-bg').fadeIn(200);
    })
    $('#enlarge-bg').on('click', function() {
        $(this).fadeOut(200);
    })
    </script>
</article>