<article>
    <h1 class="pi-title">π</h1>
    <br>
    <p>
        Have you ever seen this symbol at the corner of a webpage before?
    </p>
    <p>
        If you have, then you must have seen the movie The Net (1995), starring Sandra Bullock and Jeremy Northam.
        There's a clip at the beginning of that film which I enjoyed particularly. The programmer/hacker Angela Bennett,
        played by Bullock, just finished a job and turned down persistent invites to dinner from a male colleague. She
        slided over to her Compaq (ring a bell?) desktop, ordered a large pizza with regular crust and anchovies toppings
        from Pizza.net (of all places). After making herself a drink, she walked over to the fireplace that was made of
        a large Sony Trinitron screen, and changed the theme from an aquarium to a warm, cozy, electronic burning firewood.
        All the while, A Whiter Shade of Pale by Annie Lennox was playing in the background. I just loved the atomosphere
        create by this little electronic utopia.
    </p>
    <p>
        Now when you look at it, I think it really aged well. The old-fashioned equipments might be not as trendy, and only
        had a fraction of the computing power of a modern cellphone, but they were just as beautiful and elegent in an almost
        steam punk way. They were bulky giant beasts, as old as dinosaurs, generation analog, yet they were concrete beings.
        A solid tangible mass that you can hold and feel in your hands, there's a certain beauty to that feeling. In many ways,
        this solidity is a connection from us to reality, probably the last thing to stop us from getting lost completely
        in the cyber world.
    </p>
    <p>
        However as time went by, digital replaced analog, slim and light replaced bulky and heavy, virtual replaced reality. 
        One day, artificial intelligence will replace intelligence, cyborg will replace people and such. The only everlasting
        truth is the endless cycle of evolution. Where it will take us remains to be seen.
    </p>
</article>
