<article>
    <h1 class="pi-title">π</h1>
    <br>
    <p>
        Have you ever seen this symbol at the corner of a webpage before?
    </p>
    <p>
        If you have, then you must have seen the movie <a href="https://www.imdb.com/title/tt0113957/" target="_blank">The Net</a>
        (1995), starring Sandra Bullock and Jeremy Northam. There's a clip at the beginning of that film which I enjoyed particularly.
        Programmer Angela Bennett, played by Bullock, just finished a job and turned down persistent invites to dinner from a male colleague.
        She slided over to her <a href="https://www.imdb.com/title/tt0113957/" target="_blank">Compaq</a> (ring a bell?) desktop,
        ordered a large pizza with regular crust and anchovies toppings from Pizza.net (of all places).
        After making herself a drink, she walked over to the fireplace that was made of a large Sony
        <a href="https://en.wikipedia.org/wiki/Trinitron" target="_blank">Trinitron</a> screen, and changed the theme from an aquarium to a warm,
        cozy, electronic burning firewood. All the while,
        <a href="https://www.youtube.com/results?search_query=A+Whiter+Shade+of+Pale&page=&utm_source=opensearch" target="_blank">A Whiter Shade of Pale</a>
        by <a href="https://www.youtube.com/results?search_query=Annie+Lennox&page=&utm_source=opensearch" target="_blank">Annie Lennox</a>
        was playing in the background. I just loved the atomosphere create by this little electronic utopia.
    </p>
    <div class="gallery">
        <img src="https://m.media-amazon.com/images/M/MV5BYWU1YjQ3NTUtZjZkZi00ZDc5LTgyZTgtNzkxMTIzNzUwZGY0XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_UX182_CR0,0,182,268_AL_.jpg" alt="The Net movie poster">
        <img src="https://m.media-amazon.com/images/M/MV5BMDc2OTAyMjUtNmI5NC00ODA5LWJjNDQtNTEzM2JjODM1N2VkXkEyXkFqcGdeQXVyNzc5NjM0NA@@._V1_.jpg" alt="The Net movie poster">
        <img src="https://m.media-amazon.com/images/M/MV5BMTlmNGFlY2EtNmJhYy00NDBlLTlmZWMtODkzMzVkODZjNmQ1XkEyXkFqcGdeQXVyNzc5NjM0NA@@._V1_.jpg" alt="The Net movie poster">
        <img src="https://m.media-amazon.com/images/M/MV5BMTMyNDY0MTc3MF5BMl5BanBnXkFtZTcwNDAyODgwMw@@._V1_SY1000_CR0,0,653,1000_AL_.jpg" alt="The Net movie poster">
    </div>
    <p>
        Now when you look at it, I think it really aged well. The equipment is definitively last century, and only had
        a fraction of the computing power of a modern cellphone. But they were just as beautiful and elegent in an almost
        steam punk way. They were giant beasts, as old as dinosaurs, generation analog, yet they were concrete beings.
        A solid tangible mass that you could hold in your hands and feel the weight of it. There's a certain comfort and
        beauty to that feeling. In many ways, this solidity is a connection to reality, probably one of the last things to
        stop us from getting lost completely in the cyber world.
    </p>
    <p>
        Inevitably as time went by, digital replaced analog, slim and light replaced bulky and heavy, virtual replaced reality. 
        One day, cyborg will replace people, artificial intelligence will replace human intelligence and advance on its own.
        The only everlasting truth is the endless cycle of evolution. However, where it will take us remains to be seen.
    </p>
</article>
