<article>
    <h1>Going Deep</h1>
    <h3>into a different world</h3>
    <br>
    <p>
        I'm a scuba diver first, a free diver later. But my love for the latter has surprised even myself.
    </p>
    <p>
        Every year, I spend my annual holiday either in the Philippines or Indonisia, part of which to meet
        up with my Japanese friend Yamada for a scuba diving trip, the rest spend on a full on free diving
        training. As any sport, there're many disciplines in free diving. 
    </p>
    <p>
    </p>
</article>
