<h1>Going Deep</h1>
<h2>Into a different world</h2>
<br>
<p>
    I'm a scuba diver first, a free diver later. But my love for the latter has surprised even myself.
</p>
<div class="gallery">
    <div>
        <img src="images/descent.jpg" title="Reaching the bottom" alt="Reaching the Bottom">
    </div>
    <div>
        <img src="images/watch.jpg" title="Previous record at 30.9m" alt="Previous Record at 30.9m">
    </div>
</div>
<p>
    Every year, I fly across the ocean to spend my annual holiday either in the Philippines or Indonesia,
    for a scuba diving trip as well as a free diving training session. As any sport, there're many disciplines
    in free diving. The little guy to the left of the screen that moves up and down with your mouse is wearing
    a monofin that's shaped like a fish's tail which gives you incredible propulsion efficiently. You can
    literally swim like a fish if you know how to use it. One of the most common practice for monofin is called
    <a href="https://en.wikipedia.org/wiki/Constant_weight_apnea" target="_blank" rel="noopener">constant weight apnea</a>
    or CWT for short. At the time of writing this, the
    <a href="https://en.wikipedia.org/wiki/Freediving#World_records" target="_blank" rel="noopener">world record</a>
    for men was created by
    <a href="https://en.wikipedia.org/wiki/Isla_Esp%C3%ADritu_Santo" target="_blank" rel="noopener">Alexey Molchanov</a>
    from Russia on 18th July 2018 with a depth of -130 meters in 3min 55sec. For women, it's
    <a href="https://en.wikipedia.org/wiki/Isla_Esp%C3%ADritu_Santo" target="_blank" rel="noopener">Alessia Zecchini</a>
    from Italy on 26th July 2018 with a depth of -107 meters in 3min 44sec. I actually had the pleasure of
    meeting with Alexey Molchanov on Panglao Island at Bohol, in the Philippines, while we were both on a
    training trip.
</p>
<div class="gallery">
    <div>
        <img src="images/alex_1.jpg" title="World champion Alexey in the shop" alt="World champion Alexey in the shop">
    </div>
    <div>
        <img src="images/alex_2.jpg" title="Alexey talking to Sura and her man" alt="Alexey talking to Sura and her man">
    </div>
</div>
<p>
    So how deep can I go personally? Do you see that orange dot on the guide line? That's the best I can do
    for now, 35 meters. I know it seems so shallow in comparison. But the most important thing to know is that
    depth is not the goal, it's never the goal. Surpass yourself, condition your body and mind to adapt to the
    pressure and low oxygen environment. Exercise constantly, build up your constitution. Train yourself to go
    down EASILY rather than deeply, and at the same time have FUN! That should be the real objective, don't you
    think?
</p>
