<article>
    <h1>The Stars</h1>
    <h3>and the great beyond</h3>
    <br>
    <p>
        While we sit on a hunk of rock, hurling around in space at a speed of 67,000 miles per hour about our sun, the
        solar system is also travelling at a speed of 45,000 miles per hour towards
        <a href="https://en.wikipedia.org/wiki/Lambda_Herculis" target="_blank">Lambda Herculis</a> on a spiral path. As if that's not
        enough commotion, the whole Milky Way Galaxy is whizzing through the universe at an astounding 1.3 million miles
        per hour. As to where the universe is heading for, nobody knows. We don't even know where the universe starts
        and where it ends. The only thing we can be certain of is that 4 billion years later, the Milky Way Galaxy is
        going to <a href="https://en.wikipedia.org/wiki/Andromeda%E2%80%93Milky_Way_collision" target="_blank">collide spectacularly</a>
        with <a href="https://en.wikipedia.org/wiki/Andromeda_Galaxy" target="_blank">Andromeda Galaxy</a> which is one of the largest
        galaxies in the <a href="https://en.wikipedia.org/wiki/Local_Group" target="_blank">Local Group</a>, containing 1 trillion
        (10<sup>12</sup>) stars and the Milky Way contains about 300 billion (3×10<sup>11</sup>).
    </p>
    <p>
        Despite all this unbelievable movement, when we look at the stars in the sky, they all seem to remain at exactly
        the same spots. This fact itself should give you a sense of the mind-boggling immensity of the universe, and the
        endless space between celestial bodies.
    </p>
    <p>
        What strikes me is that nowadays most people live their whole life without even a glimpse into the outer space.
        We're so fixated on the things in front of our eyes, people don't really look at the sky anymore. Instead,
        man-made lights pepper our view. This distracting light pollution is making us forget that we were once a species
        deeply tied to the stars and constellations. We depended on them for navigation rather than GPS, we came up with
        epic stories (or maybe facts?) about gods descended from the sky, fighting amongst us. What happened to us I
        wonder, and what happened to those stories? In this new era, mankind as a species should yet again raise their
        heads, look to the stars and the great beyond like our ancestors did. As they were and always will be an
        irreplaceable source of knowledge and the door to our future.
    </p>
</article>
